<p id="notice"><%= notice %></p>

<p>
  <strong>Longitude:</strong>
  <%= @gpsdevice.longitude %>
</p>

<p>
  <strong>String:</strong>
  <%= @gpsdevice.string %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gpsdevice.latitude %>
</p>

<p>
  <strong>String:</strong>
  <%= @gpsdevice.string %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @gpsdevice.timestamp %>
</p>

<p>
  <strong>String:</strong>
  <%= @gpsdevice.string %>
</p>

<p>
  <strong>:</strong>
  <%= @gpsdevice. %>
</p>

<%= link_to 'Edit', edit_gpsdevice_path(@gpsdevice) %> |
<%= link_to 'Back', gpsdevices_path %>
